******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************







 html {
     padding: 0;
 }
 
 body {
  margin: 0;
  padding: 0;
  font-family: 'Alike Angular';
  font-size: 12px;
  }

section {
 height: 100vh;
 width: 100%;
 margin: 0 auto;
 list-style: none;
 display: inline-block;
 text-align: center;
}

li {
 margin: 0 auto;
 list-style: none;
 display: inline-block;
 text-align: center;
}


/* Headers - START */

h1 {
 font-size: 32px;
 color: #B1D13F;
}

h2 {
 font-size: 26px;
 text-align: center;
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}

h2:hover{
 -ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;
}

h3 {
 font-size: 18px;
}

h3:hover{
 -ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;
}

header {
 min-height: 400px;
 background-image: url('../img/official_header.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}


nav {
  postition: fixed;
}


/* Headers - END */





/* Navigation Bars - START */

.main-nav {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #B1D13F;
}


nav li {
    display: inline-block;
    background-color:#13A4DB;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.bottom-nav {
  bottom: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #B1D13F;
  
}


/* Navigation Bars - END */






/* WATCH SECTION - START */

#watch {
 width: 100%;
 margin: auto;
 background-color: yellow;
}

video {

}

/* WATCH SECTION - END */





/* Listen Section - START */
#listen {
 background-color: purple;
}

audio {
  vertical-align: middle;
}

/* Listen Section - END */







/* About Section - START */

#about {
 background-color: #F2D2DC;
}

/* About Section - END */










/* Social Links - START */

.material-icons {
 display: inline-block;
}

 .social-buttons {
font-size : 0.625em;
letter-spacing : 0.09em;
line-height : 0;
list-style-type : none;
padding-left : 0;
}
.social-buttons__item {
 -ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;
transition : color 0.1s, background-color 0.1s, fill 0.1s;
background-color : #18AAD9;
color : #ffffff;
display : inline-block;
margin : 2px 0;
max-width : 100%;
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap;
}
.social-buttons__item:hover {
background-color : #F8B092;
color : #ffffff;
}
.social-buttons__item-link {
color : currentColor;
display : block;
padding : 8px;
text-transform : uppercase;
width : 100%;
overflow : hidden;
text-overflow : ellipsis;
}

.social-buttons__text {
margin-left : 5px;
margin-top : 1px;
vertical-align : middle;
} 

/* Social Links - START */







