/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     color: green;
     padding: 0;
 }
 
 body {
  margin: 0;
  font-family: 'Alike Angular';
  font-size: 12px;
  }

section {
 width: 100%
}

h1 {
 font-size: 32px;
 color: #B1D13F;
}

h2 {
 font-size: 26px;
 text-align: center;
}

h3 {
 font-size: 18px;
}

header {
 min-height: 400px;
 background-image: url('../img/official_header.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
}

.main-nav {
  background-color: #B1D13F;
}

.main-nav li {
    display: inline-block;
    background-color:#13A4DB;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




#watch {
 width: 100%;
     margin: auto;
}

video {
 padding: 10%;
 margin: 20 20 20 20;
}




/* About Section */

#about {
 background-color: #F2D2DC;
 color: #EF9B9A;
 width: 90%;
 border-radius: 2%
}

#about h2 {
 color: #4B704C;

}

#about p, li {
 color: red;
}

#about li {
 list-style: none;
 display: inline-block;
 text-align: center;
}

img {
 display: inline;
 margin: 0 auto;
 max-width: 60%;
 
}

.lead {
 text-decoration: bold;
}
