/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     padding: 0;
     background-color: #F1C773;
 }
 
 body {
  margin: 0 ;
  padding: 0;
  font-family: 'Alike Angular', sans-serif;
  color: #4980B9;
  }

section {
 width: 100%;
 margin: 0 auto;
 list-style: none;
 display: inline-block;
 text-align: center;
}


li {
 margin: 0 auto;
 list-style: none;
 display: inline-block;
 text-align: center;
}


h1 {
 color: #E3501D;
 background-color: transparent;
 font-size: 675%;
 text-align: center;
 font-variant: small-caps;
 font-weight: bold;
 text-shadow: -1px 0 #7CE27E, 0 1px #7CE27E, 1px 0 #C99BA1, 0 -1px #7CE27E;
 margin: 0 auto;
 padding: 0;
}


h2 {
 color: #E3501D;
 font-size: 300%;
 text-align: center;
}


h3 {
 color: #D85A42;
  text-align: center;
}

/* Commenting out below errors as reminder to figure out why they're errors */

/*@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}*/
/*@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}*/
/*@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}*/

@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}

h1:hover, 
h2:hover, 
h3:hover {
 -ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;
}


/* HEADER - Main Nav and Social - START */

header {
 min-height: 400px;
 background-image: url('../img/monkey_crystal_tail.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

#header-wrapper {
 display: block;
 top: 25rem;
 z-index: 100;
 position: fixed;
 width: 20%;
}

#header-wrapper {
 left: 1rem;
}


.main-nav {
  display: block;
  line-height: 2rem;
  z-index: 100;
  margin: auto;
  background-color: transparent;  
}

.main-nav li {
    background-color:transparent;
    padding: 15px 32px;
    margin: 1rem 1rem;
    cursor: pointer;
}

.main-nav a {
    color: #E3501D;
    text-decoration: none;
    font-size: 250%;
}

.subtitle {
  margin: 0 auto;
  padding: 0;
  color:#E3501D;
  text-align: left;
  font-size: 120%;

}
#social {
 display: block;
 width:12%;
 top: 28rem;
 right:0rem;
 z-index: 100;
 position: fixed;
 /*background-color: burlywood;*/
  background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 transition: 2s width;
}

#social h2 {
 margin: 0 auto;
 text-align: center;
}

i {
  margin-bottom: 1rem;
  text-align: right;
}

/*#social:hover {*/
/* width: 25%;*/
/*}*/

#social ul {
  margin:0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social-links li {
  margin:0 auto;
  padding: 1rem;
}

.fa {
 color:#E3501D;

}

/* Main Nav and Social - END */


/* MEDIA PLAYERS */

.media-player {
 width: 50%; 
 height: auto;
}



/* WATCH SECTION - START */

#watch {
 height: 100vh;
 background-color: #87D0DA;
}

video {
  margin: 0 33rem 0 33rem;
}

/* WATCH SECTION - END */







/* Listen Section - START */

#listen {
 background-color:#E6C6EC;
 height: 50vh;
}

/* Listen Section - END */






/* About Section - START */

#about {
  background-color: #BFFDCE;
  height: 100vh;
  font-size:1rem;
}

#about p {
 color: #4980B9;
 margin: 0 33rem 0 33rem;
 background-color: transparent;
}

.lead {
 font-size: 2rem;
 padding-bottom: 1rem;
}

.weybec-people img {
 padding: 2rem;
 width: 20rem;
 height: auto;
}

/* About Section - END */




/* Footer and Bottom Nav - START */

footer {
 display: inline-block;
 width: 100%;
}

footer p {
  text-align: center;
  bottom: 3rem;
}

.bottom-nav {
 margin: auto;
 text-align: center;
}


/* Navigation Bars - END */




/* Flashing Button Section - START */

@keyframes glowing {
  0% { background-color: #D0FE6C; box-shadow: 0 0 3px #D0FE6C; }
  50% { background-color: #82D972; box-shadow: 0 0 10px #82D972; }
  100% { background-color: #D0FE6C; box-shadow: 0 0 3px #D0FE6C; }
}

.button {
 padding: 2px;
  background-color: #89D569;
  -webkit-border-radius: 10px;
  border-radius: 7px;
  border: none;
  color: #DD5B42;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowing 1500ms infinite;
}

.button-download, .button-nav__bottom {
 margin: 1.5em;
 display: inline-block;
}

.button-nav__main {
 display: block;
}

/* Flashing Button Section - END */